---
import type { TimelineItem } from "@/types";
import { clsx } from "clsx";
import snarkdown from "snarkdown";
import styles from "./TheResumeTimeline.module.css";

type Props = {
  data: Array<TimelineItem> | ReadonlyArray<TimelineItem>;
};

const { data } = Astro.props;
---

<ul class="flex flex-col">
  {
    data?.map?.((item) => (
      <li class={styles.timeline}>
        <div class="h-1" />
        <div class="mb-px text-sm font-semibold text-teal-700 dark:text-zinc-300">
          {item.period}
        </div>
        <div class="mb-1 text-sm text-zinc-700 dark:text-zinc-400">{item.institution}</div>
        <div class="font-transducer mb-1.5 text-lg font-bold">{item.title}</div>
        <div
          class={clsx(styles.description, "text-xs md:text-sm")}
          set:html={snarkdown(item.description)}
        />
        <div class={styles.line}>
          <div class={styles.bullet} />
        </div>
      </li>
    ))
  }
</ul>
