---
import { ViewTransitions } from "astro:transitions";
import { createThemeScript } from "@nurliman.dev/theme-script";
import { DEFAULT_THEME, OPPOSITE_THEME, THEME_LOCAL_STORAGE_KEY } from "~/constants";
import TheHeader from "~/components/TheHeader";
import TheFooter from "~/components/TheFooter";
import NProgress from "~/components/NProgress";
import "~/styles/fonts/transducer/plain.css";
import "~/styles/fonts/transducer/extended.css";
import "@fontsource/racing-sans-one/latin.css";
import "~/styles/main.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Nurliman Diara Aria | Software Engineer",
  description = "Crafting Digital Experiences with Excellence",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="manifest" href="/manifest.json" />
    <link href="/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
    <link href="/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title?.split?.(" | ")?.[0] || title} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content="https://nurliman.dev/assets/og-image.jpg" />
    {description ? <meta property="og:description" content={description} /> : null}

    <!-- Twitter -->
    <meta property="twitter:domain" content={Astro.url.hostname} />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content="https://nurliman.dev/assets/og-image.jpg" />
    {description ? <meta name="twitter:description" content={description} /> : null}

    <script
      set:html={createThemeScript({
        defaultTheme: DEFAULT_THEME,
        oppositeTheme: OPPOSITE_THEME,
        localStorageKey: THEME_LOCAL_STORAGE_KEY,
      })}
    />
    <ViewTransitions />
  </head>
  <body>
    <NProgress client:only="solid-js" transition:persist />
    <div class="contents">
      <TheHeader client:load transition:persist currentPath={Astro.url.pathname} />

      <div
        class:list={[
          "flex min-h-full flex-col pt-[50px] md:pt-14",
          "bg-white text-black",
          "dark:bg-black dark:text-white",
        ]}
      >
        <main class="flex flex-1 flex-col">
          <slot />
        </main>

        {Astro.url.pathname === "/" ? null : <TheFooter client:visible />}
      </div>
    </div>
  </body>
</html>
